<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Status</title>

      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link rel="stylesheet" href="style.css">
  </head>

  <body>

    <header>
        <h1 id="title" class="m">Outside</h1>
    </header>

    <section>
        <div>
            <p class="s">Temperature</p>
            <h1 id="temperature" class="l"></h1>
        </div>
        <div>
            <p class="s">Humidity</p>
            <h1 id="humidity" class="l"></h1>
        </div>


    </section>

    <script>
        getTemp();

        var i = setInterval(getTemp, 60000);

        function getTemp() {
            const requestURL = 'http://192.168.0.140:31000/getTemp';
            var request = new XMLHttpRequest();
            request.open('GET', requestURL);
            request.responseType = 'text';
            request.onload = function() {
              console.log(request.responseText);
              console.log(request.response);
              const res = JSON.parse(request.response);
              const webT = document.getElementById("temperature");
              webT.innerHTML = Math.round(res['temp_f']) + '<span>\xB0F</span>';

              const h2 = document.getElementById("humidity");
              h2.innerHTML = Math.round(res['humidity']) + '<span>%</span>';
            }
            request.send(null);
        }
    </script>
  </body>
</html>