<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Status</title>

      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link rel="stylesheet" href="style.css">
  </head>

  <body>

    <header>
        <div class="b">
            <h1 id="date" class="s2"></h1>
        </div>
        <div class="a">
            <h1 class="m">Outside</h1>
        </div>
        <div class="b">
            <h1 id="time" class="s2"></h1>
        </div>
    </header>

    <section>
        <div>
            <p class="s">Temperature</p>
            <h1 id="temperature" class="l"></h1>
        </div>
        <div>
            <p class="s">Humidity</p>
            <h1 id="humidity" class="l"></h1>
        </div>


    </section>

    <script>
        getTemp();
        setTime();

        var i = setInterval(getTemp, 60000);

        function setTime() {
            let d = new Date();
            var mo = Intl.DateTimeFormat('en', { month: 'short' }).format(d);
            var day = Intl.DateTimeFormat('en', { day: 'numeric' }).format(d);
            var hr = Intl.DateTimeFormat('en', { hour: 'numeric', hour12: 'true'}).format(d);
            var am = hr.split(/(?=A|P)/g);
            var min = Intl.DateTimeFormat('en', { minute: '2-digit'}).format(d);
            if (min.length < 2) {
                min = "0" + min;
            }
            document.getElementById("date").innerHTML = mo + ' ' + day;
            document.getElementById("time").innerHTML = am[0] + ':' + min + ' ' + am[1];
        }

        function getTemp() {
            const requestURL = 'http://192.168.0.140:31000/getTemp';
            var request = new XMLHttpRequest();
            request.open('GET', requestURL);
            request.responseType = 'text';
            request.onload = function() {
              console.log(request.responseText);
              console.log(request.response);
              const res = JSON.parse(request.response);
              const webT = document.getElementById("temperature");
              webT.innerHTML = Math.round(res['temp_f']) + '<span>\xB0F</span>';

              const h2 = document.getElementById("humidity");
              h2.innerHTML = Math.round(res['humidity']) + '<span>%</span>';
            }
            request.send(null);
        }
    </script>
  </body>
</html>