<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Status</title>

      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link rel="stylesheet" href="style.css">
  </head>

  <body>

    <header>
        <h1 id="title">Outside</h1>
    </header>

    <section>
        <div>
            <p>Temperature</p>
            <h1 id="temperature"></h1>
        </div>
        <div>
            <p>Humidity</p>
            <h1 id="humidity"></h1>
        </div>

    <script>document.write("JavaScript is enabled in your browser.")</script>
    <noscript>It looks like JavaScript is disabled in your browser, or your browser doesn't support JavaScript.</noscript>
    </section>

    <script>
    /*
        const header = document.querySelector('header');
        const section = document.querySelector('section');
        let requestURL = 'http://192.168.0.140:31000/getTemp';
        let request = new XMLHttpRequest();
        request.open('GET', requestURL);
        request.responseType = 'json';
        request.send();
        request.onload = function() {
          const res = request.response;
        }
        */
        var t = JSON.parse('{"temp" : "50", "humidity" : 48}');
        populateData(t);

        function populateData(obj) {
            const h1 = document.getElementById("temperature");
            h1.innerHTML = obj.temp + ' \xB0F';

            const h2 = document.getElementById("humidity");
            h2.innerHTML = obj.humidity + ' %';
        }

    </script>
  </body>
</html>