html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  width: 800px;
  margin: 0 auto;
}

h1, h2 {
  text-color: black;
  font-family: 'Roboto', cursive;
}

/* header styles */

.group {
  text-align: center;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

header p {
  text-color: black;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* section styles */

section div {
  width: 50%;
  float: left;
}

/*
section p {
  margin: 5px 0;
}
*/

p {
  text-color: black;
  font-family: 'Roboto', cursive;
  text-align: center;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}